Repository vmware/data-annotator-for-machine-learning, pull requests merged in 2021-09, with the labels that each got.

#119 [no ci] add sonar exclusions
  .github/workflows/smoke_test.yml
Labels: cla-not-required

#117 E support e2e
  annotation-app/src/app/components/edit-project/edit-project.component.html
  annotation-app/src/app/components/edit-project/edit-project.component.ts
  annotation-app/src/app/components/game-form/game-form.component.ts
  annotation-app/src/app/components/open-source/basic-login/basic-login.component.ts
  annotation-app/src/app/components/projects/appendNewEntries.component.ts
  annotation-app/src/app/components/projects/create-project.component.ts
  annotation-app/src/app/services/common/s3.service.ts
  annotation-app/src/app/services/common/up-zip.service.ts
Labels: cla-not-required

#125 [no ci] F build artifact
  .github/workflows/smoke_test.yml
  .github/workflows/sonarcloud_scan_app.yml
  .github/workflows/sonarcloud_scan_service.yml
  BUILD.md
  README.md
Labels: cla-not-required

#126 F build artifact
  BUILD.md
Labels: cla-not-required

#127 fix medium security hotspots
  annotation-app/src/app/services/common/s3.service.ts
  annotation-app/src/app/services/common/tool.service.ts
Labels: bug, cla-not-required

#133 Fix email ascii filesystem project create issue
  annotation-service/services/dataSet-service.js
  annotation-service/services/email-service.js
  annotation-service/services/file-service.js
  annotation-service/services/srs-service.js
  annotation-service/utils/ImportDataset.util.js
  annotation-service/utils/fileSystem.utils.js
  annotation-service/utils/imgImporter.js
  annotation-service/utils/logImporter.js
  annotation-service/utils/srsImporter.js
Labels: cla-not-required

#136 Enable default assigned tickets is editable and add validation for upload zip/tgz files
  annotation-app/src/app/components/upload/upload.component.ts
  annotation-app/src/app/services/common/common.service.ts
  annotation-app/src/app/services/common/s3.service.ts
  annotation-app/src/app/services/common/up-zip.service.ts
Labels: bug

#143 B-Wrap long text onto the next line in annotation page
  annotation-app/src/app/components/projects/annotate/annotate.component.html
Labels: cla-not-required

#144 [no ci] B create project support json
  annotation-service/services/file-service.js
Labels: cla-not-required

#147 B-Annotate-Page-Changed
  annotation-app/src/app/components/game-form/game-form.component.html
  annotation-app/src/app/components/game-form/game-form.component.scss
Labels: cla-not-required

#148 Docker version support
  .gitignore
  README.md
  RUN-WITH-DOCKER.md
  active-learning-service/Dockerfile
  annotation-app/Dockerfile
  annotation-app/docker-entrypoint.sh
  annotation-service/Dockerfile
  annotation-service/config/app-os.js
  annotation-service/db/db-connect.js
  annotation-service/services/file-service.js
  docker-compose.yml
Labels: cla-not-required

#149 B-Wrap long text
  annotation-app/src/app/components/projects/annotate/annotate.component.html
Labels: cla-not-required

#151 Fix taublar select only number column trigger al failure
  active-learning-service/src/al/activelearning.py
Labels: cla-not-required
