Repository vmware/data-annotator-for-machine-learning, pull requests merged in 2021-08, with the labels that each got.

#89 F support md
  annotation-app/src/app/components/projects/annotate/annotate.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
Labels: cla-not-required

#91 F ner columns 88
  annotation-app/src/app/components/projects/annotate/annotate.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.scss
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
  annotation-app/src/app/components/projects/create-project.component.html
  annotation-app/src/app/components/projects/create-project.component.scss
  annotation-app/src/app/components/projects/create-project.component.ts
  annotation-app/src/app/model/dataset.ts
  annotation-app/src/app/model/sr.ts
  annotation-service/db/db-connect.js
  annotation-service/services/file-service.js
  annotation-service/services/srs-service.js
  annotation-service/utils/srsImporter.js
Labels: cla-not-required

#96 fix log review to query with conditions
  annotation-app/src/app/components/edit-project/edit-project.component.ts
  annotation-app/src/app/components/game-form/game-form.component.ts
  annotation-app/src/app/services/common/common.service.ts
Labels: bug, cla-not-required

#98 fix os image preview issue
  annotation-app/src/app/components/projects/create-project.component.ts
Labels: bug, cla-not-required

#107 F ci
  .github/workflows/check-header.yml
  .github/workflows/sonarcloud_scan_app.yml
  .github/workflows/sonarcloud_scan_service.yml
Labels: cla-not-required

#104 B there is only one annotator need validate the number of assigned tickets also
  annotation-app/src/app/components/projects/create-project.component.scss
  annotation-app/src/app/services/common/common.service.ts
Labels: bug, cla-not-required

#112 B security alert
  .gitignore
  active-learning-service/mysite/settings.py
  active-learning-service/src/al/activelearning.py
  active-learning-service/src/al/embeddings.py
  active-learning-service/src/al/query_instance.py
  active-learning-service/src/al/teach_model.py
  active-learning-service/src/views.py
  annotation-app/src/app/components/projects/appendNewEntries.component.ts
  annotation-app/src/app/components/upload/upload.component.ts
  annotation-service/db/mongo.db.js
  annotation-service/services/file-service.js
  annotation-service/services/localFileSys.service.js
Labels: cla-not-required

#111 [no ci] update to support e2e
  annotation-app/src/app/components/edit-project/edit-project.component.ts
  annotation-app/src/app/components/faq/faq.component.ts
  annotation-app/src/app/components/page-not-found/page-not-found.component.ts
  annotation-app/src/app/components/upload/upload.component.ts
  annotation-app/src/app/core.module.ts
Labels: cla-not-required

#113 fix jszip security alert and comment some code
  annotation-app/package.json
  annotation-app/src/app/components/edit-project/edit-project.component.ts
  annotation-app/src/app/components/game-form/game-form.component.html
  annotation-app/src/app/components/game-form/game-form.component.ts
Labels: cla-not-required

#114 fix sonar coverage issue
  .github/workflows/smoke_test.yml
  .gitignore
Labels: cla-not-required

#115 E support e2e
  annotation-app/src/app/app.module.ts
  annotation-app/src/app/components/admin/admin.component.ts
  annotation-app/src/app/components/datasets-sharing/datasets-sharing.component.ts
  annotation-app/src/app/components/edit-project/edit-project.component.ts
  annotation-app/src/app/components/home/home.component.ts
  annotation-app/src/app/components/projects/appendNewEntries.component.ts
  annotation-app/src/app/components/projects/create-project.component.html
  annotation-app/src/app/components/projects/create-project.component.ts
  annotation-app/src/app/components/projects/generate/generate.component.ts
  annotation-app/src/app/components/projects/projects.component.ts
  annotation-app/src/app/components/upload/upload.component.ts
  annotation-app/src/app/services/common/common.service.ts
  annotation-app/src/app/services/common/email.service.ts
  annotation-app/src/app/services/common/s3.service.ts
  annotation-app/src/app/services/common/tool.service.ts
  annotation-app/src/app/services/common/up-zip.service.ts
Labels: cla-not-required, E2E
