Repository vmware/data-annotator-for-machine-learning, pull requests merged in 2021-07, with the labels that each got.

#61 fix esp authorize
  .gitignore
  annotation-service/config/constant.js
  annotation-service/services/email-service.js
  annotation-service/services/s3.service.js
  annotation-service/services/sqs.service.js
  annotation-service/utils/s3.js
  annotation-service/utils/sqs.js
  annotation-service/utils/sts.js
Labels: cla-not-required

#62 fix esp authorize in al
  active-learning-service/src/aws/sts.py
Labels: cla-not-required

#63 add conditions for avoid regenerate
  annotation-service/services/sqs.service.js
Labels: cla-not-required

#56 test travis
  .travis.yml
Labels: cla-not-required

#66 update ner tokenizer
  active-learning-service/src/ner/tokenizer_config.py
Labels: bug, cla-not-required, fixed

#69 update license
  LICENSE.txt
Labels: cla-not-required

#71 Bug: fix nerInfixSplitIssue and append total row err and security alert and sonar scan bugs
  annotation-app/package.json
  annotation-app/src/app/components/footer/footer.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
  annotation-app/src/app/components/projects/appendNewEntries.component.ts
  annotation-app/src/app/services/common/up-zip.service.ts
  annotation-app/src/libs/feedback.js
Labels: cla-not-required

#73 update github actions
  .github/workflows/smoke_test.yml
  .github/workflows/sonarcloud_scan.yml
Labels: cla-not-required

#76 F support markdown
  annotation-app/package.json
  annotation-app/src/app/app.module.ts
  annotation-app/src/app/components/projects/annotate/annotate.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.scss
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
  annotation-app/src/app/components/projects/create-project.component.ts
  annotation-app/src/app/services/ava.service.ts
  annotation-app/src/app/services/common/markdown-parser.service.ts
Labels: cla-not-required, enhancement

#77 F log usability
  annotation-app/src/app/app.module.ts
  annotation-app/src/app/components/game-form/game-form.component.html
  annotation-app/src/app/components/game-form/game-form.component.ts
  annotation-app/src/app/components/header/header.component.html
  annotation-app/src/app/components/header/header.component.scss
  annotation-app/src/app/components/header/header.component.ts
  annotation-app/src/app/components/my-datasets/my-datasets.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.scss
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
  annotation-app/src/app/components/projects/preview/preview-projects.component.html
  annotation-app/src/app/components/projects/preview/preview-projects.component.scss
  annotation-app/src/app/components/projects/preview/preview-projects.component.ts
  annotation-app/src/app/model/sr.ts
  annotation-app/src/app/services/ava.service.ts
  annotation-app/src/app/services/common/dom.service.ts
  annotation-app/src/app/shared/clr-filter/datagridFilter.component.html
  annotation-app/src/app/shared/clr-filter/datagridFilter.component.scss
  annotation-app/src/app/shared/clr-filter/datagridFilter.component.ts
  annotation-app/src/app/shared/form-validators/dataset-validator.ts
  annotation-service/services/dataSet-service.js
  annotation-service/services/file-service.js
  annotation-service/services/project.service.js
  annotation-service/services/srs-service.js
  annotation-service/utils/logImporter.js
Labels: cla-not-required

#79 [BUG]-[APP]-Change log exit router && show more && sonar scan bug #78
  annotation-app/src/app/components/game-form/game-form.component.ts
  annotation-app/src/app/components/projects/annotate/annotate.component.scss
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
Labels: bug, cla-not-required

#80 fix service and al sonar bugs
  active-learning-service/src/al/vector_sr.py
  annotation-service/services/dataSet-service.js
  annotation-service/services/srs-service.js
Labels: cla-not-required

#81 [skip ci] fix can not random query error
  annotation-service/services/srs-service.js
Labels: cla-not-required

#84 B regression test
  annotation-app/src/app/components/game-form/game-form.component.html
  annotation-app/src/app/components/game-form/game-form.component.scss
  annotation-app/src/app/components/game-form/game-form.component.ts
  annotation-app/src/app/components/projects/annotate/annotate.component.html
  annotation-app/src/app/components/projects/annotate/annotate.component.ts
  annotation-app/src/app/components/projects/create-project.component.html
  annotation-app/src/app/services/common/tool.service.ts
Labels: bug, cla-not-required, enhancement

#85 support combine annotate and review together
  annotation-service/resources/APIs.js
  annotation-service/routers/project-controller.js
  annotation-service/services/project.service.js
  annotation-service/services/srs-service.js
Labels: cla-not-required, new features, upgrade

#86 B regression test
  annotation-app/src/app/components/projects/preview/preview-projects.component.html
Labels: cla-not-required
